<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
        指定匿名即可访问的资源，也就是不需要认证授权，就可以访问
            1. 访问css或者js文件夹里面的资源都可以直接访问
            2. login.html也不要拦截，否则我们就没法去登录了。
     -->
    <security:http security="none" pattern="/css/**"/>
    <security:http security="none" pattern="/js/**"/>
    <security:http security="none" pattern="/login.html"/>

    <!--
        1. 权限的规则：配置哪些地址|连接|请求，需要什么权限才可以访问！
            security:http :用于配置权限规则
                auto-config ： 是否自动配置，帮我们提供登录的页面
                                true : 默认会提供一个登录的页面给我们
                                false : 一定要自己写一个登录的页面，并且要做配置。
                use-expressions : 是否使用表达式 用于控制下面的标签intercept-url 里面的
                                access属性是否必须写成表达式的写法 hasRole('Role_xxxx')
                                use-expressions = "true" , 那么 access :必须写成有表达式的写法hasRole('Role_xxxx')
                                use-expressions="false", 那么 access :只需要写角色的权限关键字即可，但是一定要以Role_打头
    -->
    <security:http auto-config="true" use-expressions="true">

        <!--
            intercept-url: 用来设置什么样的地址，要有什么样的角色（身份）才能访问
                pattern ： 用来定义访问的地址的匹配表达式 ，如果希望所有的请求都需要权限
                access : 指定角色（权限）
                     access="ROLE_ADMIN" 表示只有管理员的权限，才能访问所有的请求|地址。
         -->

       <!-- <security:intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')"/>-->

        <!--isAuthenticated:只要认证过了就可以访问这两个页面 ，只要登录成功就可以访问-->
        <security:intercept-url pattern="/index.html" access="isAuthenticated()"/>
        <security:intercept-url pattern="/a.html" access="isAuthenticated()"/>

        <!--
            hasAnyAuthority : 权限的名字对了就可以，不会主动给我们加上任何的前缀
            hasRole : 如果我们的权限前面没有ROLE_ 会自己加上这个。-->

        <!--hasAnyAuthority ： 必须拥有add权限，才能打开b页面-->
        <security:intercept-url pattern="/b.html" access="hasAnyAuthority('add')"/>

        <!--hasRole('ROLE_ADMIN') :必须是管理员才能访问-->
        <security:intercept-url pattern="/c.html" access="hasAnyAuthority('ROLE_ADMIN')"/>

        <!--hasRole('ROLE_ABC') : 必须是ABC这样的角色才能访问！-->
        <security:intercept-url pattern="/d.html" access="hasAnyAuthority('ROLE_ABC')"/>




        <!--

          security:form-login : 用于配置登录的表单页面信息
               login-page ： 登录页面是哪个
               username-parameter ：用户名的那个name属性的值是什么
               password-parameter ： 密码的那个name属性的值是什么
               login-processing-url : 登录的表单提交的地址是哪个
               default-target-url ： 登录成功之后，去到哪里
               authentication-failure-url : 登录失败之后，去到哪里
               always-use-default-target : 表示登录之后之后是否打开index首页。 true :表示一定会打开首页，false：不一定打开index.html
        -->
        <security:form-login
                login-page="/login.html"
                username-parameter="username"
                password-parameter="password"
                login-processing-url="/login.do"
                always-use-default-target="true"
                default-target-url="/index.html"
                authentication-failure-url="/login.html"/>

        <!--加入csrf的忽略-->
        <security:csrf disabled="true"/>

        <!--
            退出登录的配置
                security:logout  用于设置退出登录
                    logout-success-url ： 退出成功之后 ，要到什么页面去
                    logout-url : 退出登录提交的请求地址是什么
                    invalidate-session ： 退出登录之后，是否要删除session，一般选择 true
         -->
        <security:logout logout-success-url="/login.html" logout-url="/logout.do" invalidate-session="true"/>
    </security:http>

    <!--
        2. 认证管理：使用我们写好的认证的服务 ：UserService
            authentication-manager : 认证管理员
                 authentication-provider ： 由它提供认证的规则
                    user-service-ref :表示使用的认证规则是我们写好的UserService这个类
                                    当然，我们需要把这个类先交给spring管理。

                    user-service-ref="userService"  ，里面的userService是托管类的id名字
                          security:password-encoder : 使用什么密码加密技术
                                passwordEncoder : 表示使用BCryptPasswordEncoder

    -->
    <bean id="us" class="com.itheima.security.UserService"/>
    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
    <security:authentication-manager>
        <security:authentication-provider user-service-ref="us">
            <security:password-encoder ref="passwordEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>


    <!--扫描包和mvc的注解驱动-->
    <context:component-scan base-package="com.itheima"/>
    <mvc:annotation-driven/>

    <!--允许在方法上打上注解，对方法进行权限的校验-->
    <security:global-method-security pre-post-annotations="enabled"/>


    <mvc:default-servlet-handler/>
</beans>